body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
}

:root {
    --flush-mahogany: #CC3939;
    --muddy-water: #BE9D69;
    --gondola: #211412;
    --pampas: #F2EEEA;
}


/* Backgound Image */

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/vote.jpg);
    /* background-image: url('../img/vote.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.home-bg {
    height: 85vh;
}


/* Styling The Navbar menu */

.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #6e0d25;
    color: #ffffff;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-logo img {
    max-width: 100px;
    flex-shrink: 0;
}

.menu-container a {
    text-decoration: none;
    color: #6e0d25;
    transition: color 0.3s ease;
}

.menu-container a:hover {
    color: var(--muddy-water);
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/* Burger menu */

.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #6e0d25;
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}


/* mobile styles */

@media only screen and (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }
    .menu-logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu-logo img {
        max-height: 30px;
    }
    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 300px;
        right: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 50px 50px;
        background: #ffffff;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
}


/* desktop styles */

@media only screen and (min-width: 768px) {
    .menu-container {
        width: 100%;
    }
    .menu-container a {
        color: #ffffff;
    }
    .menu-container input {
        display: none;
    }
    /* Burger menu */
    .menu-container span {
        display: none;
    }
    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu ul {
        display: flex;
        padding: 0;
    }
    .menu li {
        padding: 0 20px;
    }
}


/* Main Section */

#main-section {
    width: 100%;
    /* background-color: #ffcc33; */
    margin: auto;
}

#promo {
    width: 50%;
    float: left;
    height: 100vh;
    /* background-color: blue; */
    text-align: center;
    color: var(--pampas);
}

.promo-header {
    margin-top: 180px;
    padding: 20px;
    font-size: 3rem;
}

.promo-text {
    padding: 45px;
    padding-top: 0;
    line-height: 2rem;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signup {
    width: 50%;
    float: left;
    height: 100vh;
    /* background-color: green; */
    text-align: center;
}


/* signup login form */

.content {
    width: 330px;
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 200px;
    box-shadow: -3px -3px 9px rgba(208, 185, 105, 0.671), 3px 3px 7px rgba(208, 185, 105, 0.671);
    margin-left: auto;
    margin-right: auto;
}

.content .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
    color: rgb(247, 233, 233);
}

.content .field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #e0d2d2;
    border: 1px solid rgba(208, 185, 105, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
}

.field input::placeholder {
    color: #e0d2d2a6;
}

.field:nth-child(2) {
    margin-top: 20px;
}

.field span {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
}

.myBtn {
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(208, 185, 105, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

.content .forgot {
    color: rgba(255, 255, 255, 0.733);
    margin-top: 9px;
    text-align: left;
}

.icon-button {
    margin-top: 15px;
}

.icon-button span {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgba(244, 247, 250, 0.795);
    border-radius: 5px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(10px);
}

.icon-button span.facebook {
    margin-right: 17px;
}

button:hover,
.icon-button span:hover {
    background-color: var(--muddy-water);
}

#clear {
    clear: both;
}


/* Small Devices */

@media only screen and (max-width: 767px) {
    #main-section {
        width: 100%;
        margin: auto;
    }
    #promo {
        width: 100%;
        text-align: center;
        color: var(--pampas);
        display: none;
    }
    .promo-header {
        margin-top: 80px;
        padding: 10px;
        font-size: 3rem;
    }
    .promo-text {
        padding: 20px;
        padding-top: 0;
        line-height: 2rem;
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: none;
    }
    #signup {
        width: 100%;
    }
    /* signup login form */
    .sm-none {
        display: none;
    }
    .content {
        width: 75%;
        max-width: 330px;
        border-radius: 10px;
        padding: 30px 20px;
        margin-top: 100px;
        box-shadow: -3px -3px 9px rgba(208, 185, 105, 0.671), 3px 3px 7px rgba(208, 185, 105, 0.671);
        margin-left: auto;
        margin-right: auto;
    }
    .content .text {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px;
        color: rgb(247, 233, 233);
    }
    .content .field {
        height: 50px;
        width: 100%;
        display: flex;
        position: relative;
    }
    .field input {
        height: 100%;
        width: 100%;
        padding-left: 45px;
        font-size: 18px;
        outline: none;
        border: none;
        color: #e0d2d2;
        border: 1px solid rgba(208, 185, 105, 0.438);
        border-radius: 8px;
        background: rgba(105, 105, 105, 0);
    }
    .field input::placeholder {
        color: #e0d2d2a6;
    }
    .field:nth-child(2) {
        margin-top: 20px;
    }
    .field span {
        position: absolute;
        width: 50px;
        line-height: 50px;
        color: #ffffff;
    }
    button {
        margin: 25px 0 0 0;
        width: 100%;
        height: 50px;
        color: rgb(238, 226, 226);
        font-size: 18px;
        font-weight: 600;
        border: 2px solid rgba(208, 185, 105, 0.438);
        border-radius: 8px;
        background: rgba(105, 105, 105, 0);
        margin-top: 40px;
        outline: none;
        cursor: pointer;
        border-radius: 8px;
    }
    .content .or {
        color: rgba(255, 255, 255, 0.733);
        margin-top: 9px;
    }
    .icon-button {
        margin-top: 15px;
    }
    .icon-button span {
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: rgba(244, 247, 250, 0.795);
        border-radius: 5px;
        line-height: 30px;
        background: rgba(255, 255, 255, 0.164);
        backdrop-filter: blur(10px);
    }
    .icon-button span.facebook {
        margin-right: 17px;
    }
    button:hover,
    .icon-button span:hover {
        background-color: var(--muddy-water);
    }
}


/* Home page Styles */

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-showcase {
    margin-top: 120px;
}

.centered .title {
    color: var(--pampas);
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

.sysinfo {
    color: var(--pampas);
    margin-top: 20px;
}

.btn-nominee {
    width: fit-content;
    margin: 25px 0 0 0;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(182, 55, 55, 0.788);
    padding: 0 20px;
    border-radius: 8px;
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

.btn-nominee:hover {
    background: rgba(182, 55, 55, 0.788);
}


/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    color: var(--pampas);
    max-width: 1100px;
}

.cards {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid var(--flush-mahogany);
    border-radius: 4px;
    transition: all .3s ease;
}

#boxes .box img {
    width: 90px;
}

.fm {
    color: var(--flush-mahogany);
}